apewisdom/venv/
stock/venv/
stock/.streamlit/secrets.toml
stock/__pycache__/
stock/lambda_function
crypto/venv/
crypto/.streamlit/secrets.toml
crypto/__pycache__/
# Ignore secrets.toml for Streamlit
apewisdom/.streamlit/secrets.toml
apewisdom/.env
apewisdom/fetch_real_time_prices_gcloud/venv
.idea/
venv/
